<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Front-End Library</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ baseUrl }}../static/css/all.css">
    {% include '_mustard-cut.html' with { baseUrl: baseUrl } %}
</head>
<body>

    {%- block body %}{% endblock -%}

</body>
</html>

